cmake-build-*
.idea
.DS_Store
build
dist
*.egg-info
*.pyc

# VS Code settings
/.vscode

# clangd settings
/.clangd
/.cache

# Generated stub files
stubs/

# Symlinks to compiled extensions
deep_gemm/*.so
deep_gemm/_C.pyi
extra-info
export_only_prof_dir
.vscode/

# Profiling
profiling/
